@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;

  font-family: "Alegreya Sans SC", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/event.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover:after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
  font-family: "Homemade Apple", cursive;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 2rem;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 1.25rem;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.about h1 {
  font-size: 55px;
  font-weight: 600;
}
.about p {
  color: #777;
  font-size: 25px;
  font-weight: 300;
  line-height: 22px;
  padding: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.events {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 0;
}
.events-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: 25px;
}

.events-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: linear-gradient(
    60deg,
    rgba(7, 5, 29, 0.828),
    rgb(7, 5, 29, 0.335)
  );
}
.layer h3,
.layer p {
  width: 100%;
  font-weight: 500;
  color: rgb(255, 249, 249);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer p {
  font-size: 18px;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.layer:hover p {
  bottom: 20%;
  opacity: 1;
}
.banner {
  clear: both;
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: border-box;
  direction: ltr;
  font-size: 23px;
  font-weight: 400;
  margin-top: 30px;
  max-width: 100%;
  text-align: left;
}
.banner .image {
  grid-column: 2;

  align-self: start;
  margin: 0;
}
.block-media {
  padding: 22px;
  font-weight: normal;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 22px;

  box-sizing: inherit;
  max-width: none;
  display: block;

  align-self: start;
  grid-column: 1;
  grid-row: 1;
}
.event {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/events.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.event h1 {
  margin-top: 100px;
  font-size: 3rem;
}
/*.event .event-head{
		color: white;
		font-size: 4rem;
		display: flex;
		justify-content: center;
		transform: translate(10px, 90px);
		}*/
.event-list {
  width: 60%;
  margin: auto;
  text-align: left;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}
.event-list .elemets {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  align-items: left;
  justify-content: left;
  position: relative;
  border: 1px solid transparent;
  transition: 1s;
}
.event-list .elemets:hover {
  border: 1px solid black;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
/* .event-list .elemets:hover::after {
  text-align: right;
  content: "Seats Available";
  background: green;
} */
.register-form {
  font-family: "Poppins", sans-serif !important;
  display: flex;
  height: auto;
  justify-content: center;
  background: linear-gradient(to right, #b79891, #94716b); 
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.register-form .main-content {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  margin: auto;
  font-family: "Poppins", sans-serif !important;
  background: #fff;
  background-size: cover;
}
.register-form .main-content .form-head {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  font-family: "Poppins", sans-serif !important;
}
.register-form .main-content .form-head::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: rgb(238, 233, 233);
}
.register-form .main-content .form-content {
  padding-top: 20px;
  display: block;
  font-family: "Poppins", sans-serif !important;
}
.register-form .main-content .form-content .input-box {
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
  font-family: "Poppins", sans-serif !important;
}
.register-form .main-content .form-content .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  padding: 0 5px;
  font-family: "Poppins", sans-serif !important;
}
.register-form .main-content .form-content .input-box .details {
  font-weight: 500;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  padding-left: 5px;
  display: block;
  margin-bottom: 5px;
  outline: none;
  font-family: "Poppins", sans-serif !important;
}

.register-form .main-content .form-content .input-box input:focus::placeholder {
  color: transparent;
}

.drop-down {
  font-family: "Poppins", sans-serif !important;

  font-weight: 500;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  padding-bottom: 25px;
  padding: 5px;
  display: block;
  margin-bottom: 20px;
  outline: none;
  border-bottom: 2px solid #d9d9d9;
}
.drop-down .drop-down-item {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 30px;
  font-family: "Poppins", sans-serif !important;
  background: transparent;
  border: none;
  font-size: 18px;
}
.drop-down-name {
  font-family: "Poppins", sans-serif !important;
}
.gender {
  font-family: "Poppins", sans-serif !important;
}
.gender-details {
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif !important;
}
.gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
}
.gender-details .category {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 14px 0;
  font-family: "Poppins", sans-serif !important;
}
.gender-details .category label {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif !important;
}
.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 2.5px solid transparent;
  font-family: "Poppins", sans-serif !important;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  border-color: #d9d9d9;
  background: #9b59b6;
  font-family: "Poppins", sans-serif !important;
}
input[type="radio"] {
  display: none;
}
.register-button {
  height: 45px;
  margin: 45px 0;
  font-family: "Poppins", sans-serif !important;
}
.register-button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background: linear-gradient(11deg, #d831caed, #ebd5de);
  border: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif !important;
}
.register-button input:hover {
  background: linear-gradient(359deg, #d831caed, #ebd5de);
}
option {
  font-family: "Poppins", sans-serif !important;
}
.event-list .event-header {
  font-size: 2rem;
  position: relative;
  margin-bottom: 10px;
  color: #777;
  padding: 10px;
}
.event-list .event-header::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #777;
}
.event-background {
  text-align: center;
  background: linear-gradient(to right, #b79891, #94716b); 
  padding-top: 50px;
  padding-bottom: 50px;
}
.image img {
  object-fit: cover;
  object-position: bottom;
  padding-right: 10px;
}
.our-events {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/our-events-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}
#our-events {
  color: #fff;
  font-size: 2.5rem;
}
.about-us {
  display: flex;
  width: 80%;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.about-us img {
  margin-top: 20px;
}
.about-us .about-college {
  transform: translateY(200px);
}
#mbits {
  color: #eab411;
  letter-spacing: 4.4px;
}
#events-head,
#about-head {
  font-size: 2.5em;
  text-align: center;
  margin-top: 5px;
  padding-top: 3.5rem;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: black;
}
.footer__tech {
  width: 100%;
  background-color: #fff;
  padding: 3rem 0;

  display: flex;

  flex-direction: row;

  align-items: center;

  justify-content: space-around;
}
.footer__tech .content {
  text-align: left;
  flex-basis: 50%;
}
.content__heading {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.content__paragraph {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer__tech .logo-wrapper .logo-bg {
  background-color: #0c0c0c;
  border-radius: 50%;
  padding: 2rem;
}
.footer__tech .logo-wrapper .logo-bg .logo {
  height: 8rem;
  width: auto;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #f3f3f3;
  height: 100%;
  padding: 3rem 0;
}
.footer__main .content {
  text-align: center;
}
#hero-head {
  color: darkkhaki;
  font-size: 5rem;
}
#inline-head {
  display: inline;
  font-size: 5rem;
}
#some-head {
  color: darkkhaki;
  display: inline;
  font-size: 5rem;
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
.contact-us {
  text-align: center;
  padding-bottom: 30px;
}
.contact-us .contact {
  padding: 10px;
}
.contact-head {
  text-align: center;
  padding-top: 80px;
}
.contact a {
  color: #000;
  text-decoration: none;
  padding-bottom: 5px;
}
.contact h3,
.contact h4 {
  font-family: "Poppins", sans-serif !important;
}
